<nav id="navbar" class="navbar navbar-full bg-faded navbar-fixed-top hidden-sm-down" [ngClass]="{'unscrolled-nav': !scrolled, 'navbar-dark': scrolled, 'bg-inverse': scrolled}">
    <div class="container">
        <a pageScroll class="navbar-brand nav-padding hidden-sm-down" href="#home" routerLink="/">logo</a>
        <ul class="nav navbar-nav pull-xs-right nav-padding">
            <li class="nav-item hidden-sm-down">
                <a pageScroll class="nav-link" href="#home" routerLink="/" fragment="home">Home</a>
            </li>
            <li class="nav-item hidden-sm-down">
                <a pageScroll class="nav-link" href="#services" routerLink="" fragment="services">Services</a>
            </li>
            <li *ngFor="let link of links" class="nav-item">
                <a pageScroll class="nav-link" href="#{{link.route}}" routerLink="/" fragment="{{link.route}}">{{link.text}}</a>
            </li>
        </ul>
    </div>
</nav>
