<div> 
    <mat-toolbar class="topbar">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <a mat-button class="companyName" routerLink="/">
        <span><img src="../../assets/8ring.jpg" class="img"></span>
      </a>
      <span class="example-spacer"></span>
     
      <div fxShow="true" fxHide.lt-md="true">
        <ul class="nav navbar-nav pull-xs-right nav-padding">
          <li class="nav-item hidden-sm-down">
              <a pageScroll class="nav-link" href="#home" routerLink="/" fragment="home">HOME</a>
          </li>
          <li *ngFor="let link of links" class="nav-item">
              <a pageScroll class="nav-link" href="#{{link.route}}" routerLink="/" fragment="{{link.route}}">{{link.text}}</a>
          </li>
      </ul>
  
      </div>
  
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
            <a mat-button routerLink="/about-us">HOME</a>
            <a mat-button routerLink="/prices">ABOUT</a>
               <a mat-button routerLink="/about-us">HOME</a>
            <a mat-button routerLink="/prices">ABOUT</a>
            <a mat-button routerLink="/start-page">SERVICES</a>
            <a mat-button routerLink="#">TECHNOLOGY</a>
            <a mat-button routerLink="/offer">CONTACT US</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <div id="home" class="hero hidden-sm-down">
         <div class="hero-wrap">
           </div>
         </div>
     
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
 