<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
            <h3> About </h3>
            <p>Our Culture</p>
            <p>Our Commitment</p>
            <p>Who we are</p>
            <p>Certifications</p>
        </div>
        <div class="col-sm-4">
            <h3> Services</h3> 
            <p>Appication Development</p>
            <p>Web Development</p>
            <p>Mobile App Development</p>
            <p>Quality Asurance</p>
        </div>
        <div class="col-sm-4">
          <h3> Technology</h3>
          <p>Xamarin - Android/IOS/WEB</p>
          <p>Front-end Technologies</p>
          <p>Back-end Technologies</p>
          <p>Database</p>
          <p>Software Testing Technologies</p>
        </div>
        <div class="col-sm-4">
          <h3> Careers</h3>
          <h3> Contact Us</h3>
        </div>
        <div class="col-sm-4">
          <h3> Have a questions ?</h3>
          <p><mat-icon> location_on</mat-icon>Kathmandu, Nepal</p>
          <p><mat-icon>call</mat-icon>+977 9812123323</p>
          <p><mat-icon>mail</mat-icon>8RingSoft@gmail.com</p>
        </div>
        <div class="col-sm-4">
          <h3>For more</h3>
        </div>
        <div class="col-sm-4">
             <div class="img">
                  <img src="../../assets/icons8-facebook-40.png">
                  <a href="https://www.linkedin.com/in/kumar-pun-48b382179/"><img src="../../assets/icons8-linkedin-40.png"></a>
                  <img src="../../assets/icons8-twitter-40.png">
                  <img src="../../assets/icons8-instagram-40.png">

                  </div>
                </div>
            
            </div>

</footer>