<section id="about">
        <div class="container">
            <div class="row">
                <h2 class="center-align">
                    About Us
                </h2>
                <h5 class="center-align">More about what we can do</h5>
                <hr>
            </div>
            <div class="row">
                    <div class="col l6 s12" *ngFor="let card of cards">
                
                                      <div class="card-panel teal">
                                            <div class="card-content white-text center-align">
                                                   <div class="center-align icons"><i [class]="card.icon"></i></div>
                                                    <span class="card-title"><h5>{{card.title}}</h5></span>
                                                    <p>{{card.body}}</p>
                                                </div>
                                      </div>
                    </div>  
             </div>   
            </div>
        </section>
        <!-- Section Hero -->
        <section class="section" id="hero">
        <div class="container">
         <div class="row">
            <div class="col">
                 <div class="title center">
                     <h4>Designer & Web Developer Skills </h4>    
                 </div>
        
                        <div class="progress1 ">
                                <h4 style="margin-bottom: 0">Mobile Development</h4>
                                <div id="demoprogressbar13">
                                    <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color:#11998e; height: 15px; border-radius: 15px; width: 90%;"></div></div></div>
                                <h4 style="margin-bottom: 0">Web Development</h4>
                                <div id="demoprogressbar14">
                                    <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color: #11998e; height: 15px; border-radius: 15px; width: 85%;"></div></div></div>
                                <h4 style="margin-bottom: 0">JAVASCRIPT</h4>
                                <div id="demoprogressbar15">
                                    <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color: rgb(0, 147, 209); height: 15px; border-radius: 15px; width: 72%;"></div></div></div>
                                <h4 style="margin-bottom: 0">Quality Assurance</h4>
                                <div id="demoprogressbar16">
                                    <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color: rgb(0, 147, 209); height: 15px; border-radius: 15px; width: 90%;"></div></div></div>
                            </div>
                
            </div>
            </div>
            </div>
        </section>
   
            